header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

body{
    font-family: Helvetica, sand-serif;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-left: 50px;
    padding: 20px;
}

p{
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 32px;
}

h1{
    font-size: 32px;
    margin-bottom: 48px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 16px;
}

h4{
    font-size: 16;
    font-weight: normal;
    color: gray;
}

nav{
    display: flex;
    gap: 20px;
}

#links{
    display: flex;
    justify-content: space-between;
}

#vis2-header{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

#hover-text{
    margin-left: 12px;
}

        img.one{
            height: 100%;
            width: 100%;
        }

        img.two{
            height: 100%;
            width: 100%;
        }

        img.three{
            height: 100%;
            width: 100%;
        }


